.liy{
    /* background-color: red; */
    padding: 10px;
    width: 100%;
}
.liy:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.RowBox{
    width: 80vw;
    background-color: blue;

}